<!-- show all customers in a table -->
{% extends 'layout.html' %}
{% block content %}

<div class="table-shell">
    <div class="container table-scroll">
        <table class="table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Go To</th>
                </tr>
            </thead>

            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{customer.id}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.email}}</td>
                        <td>
                            <a class="btn btn-primary" href="">You need to add link</a>
                            <a class="btn btn-danger" href="">You need to add link</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}