{% extends 'layout.html' %}

{% block content %}
<div class="container text-primary">
    <h1>Contact Form</h1>
    
    <form method="GET">
        <input type="text" name="name" placeholder="Your name, GET FORM" required>
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
    </form>
    
    <form method="POST">
        <input type="text" name="name" placeholder="Your name, POST FORM" required>
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
    </form>
</div>

{% endblock %}